{% comment %}
  Renders social icons.
  Accepts:
  - class: {String} a class to be added to the <ul> element (optional).

  Usage:
  {% render 'social-icons',
    class: 'my-class'
  %}
{% endcomment %}

<ul class="list-unstyled list-social{% if class %} {{ class}}{% endif %}" role="list">
  {%- if settings.social_facebook_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_facebook_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-facebook.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_instagram_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_instagram_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-instagram.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_whatsapp_link != blank -%}
  <li class="list-social__item">
    <a href="{{ settings.social_whatsapp_link }}" class="link list-social__link" target="_blank">
      <span class="svg-wrapper">
        <svg class="icon icon-whatsapp" viewBox="0 0 24 24" width="20" height="20" aria-hidden="true">
          <path fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="M12 21.5c-1.574 0-3.093-.4-4.417-1.157L3.5 21l1.583-4.08A9.458 9.458 0 0112 2.5c5.238 0 9.5 4.262 9.5 9.5s-4.262 9.5-9.5 9.5z"/>
          <path fill="currentColor" stroke="none" d="M17.498 14.382c-.301-.15-1.767-.867-2.053-.948-.287-.081-.497-.15-.706.15-.21.301-.767.948-.948 1.159-.18.21-.36.241-.661.09-.301-.15-1.261-.465-2.404-1.488-.891-.67-1.492-1.497-1.666-1.798-.18-.301-.018-.465.132-.614.136-.135.301-.36.452-.541.15-.18.201-.301.301-.502.1-.201.05-.383-.025-.533-.075-.15-.706-1.678-.948-2.28-.242-.601-.486-.502-.676-.513-.18-.008-.387-.008-.598-.008-.211 0-.553.081-.84.383-.287.301-1.094 1.052-1.094 2.555 0 1.503 1.124 2.955 1.284 3.156.16.201 2.115 3.292 5.129 4.604.718.318 1.281.502 1.716.64.721.233 1.38.201 1.905.12.584-.09 1.767-.722 2.023-1.428.256-.706.256-1.308.18-1.428-.076-.118-.287-.193-.588-.344z"/>
        </svg>
      </span>
    </a>
  </li>
{%- endif -%}

  {%- if settings.social_youtube_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_youtube_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-youtube.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tiktok_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_tiktok_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-tiktok.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_twitter_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_twitter_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-twitter.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_pinterest_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_pinterest_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-pinterest.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_snapchat_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_snapchat_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-snapchat.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tumblr_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_tumblr_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-tumblr.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_vimeo_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_vimeo_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-vimeo.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
      </a>
    </li>
  {%- endif -%}
</ul>
